@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

label {
  display: block;
}

.App {
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

p{
  max-height: 100px;
  max-width: 600px;
}

h2, h3{
  color: white;
}

div#choices
{
  transition: opacity 0.5s linear;
}

.shown
{
  opacity: 1;
}

.hidden
{
  opacity: 0;
}

.decision {
  position: absolute;
  display: flex;
  text-align: justify;
  width: 300px;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  height: 10vh;
  color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Bebas Neue', cursive;
  font-size: 200%;
}

#video-container:fullscreen #inner-choices .decision1{
  right: 70%;
  top: 70%;
}

#video-container:fullscreen #inner-choices .decision2{
  right: 15%;
  top: 70%;
}

.decision1{
  right: 65%;
  top: 70%;
}

.decision2 {
  right: 7%;
  top: 70%;
}

.decision:hover {
  position: absolute;
  display: flex;
  min-width: 300px;
  background-color:rgba(53, 49, 49, 0.7);
  padding: 10px;
  height: 10vh;
  color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Bebas Neue', cursive;
  font-size: 200%;
}

.pop-up-msg {
  position: absolute;
  display: flex;
  width: 250px;
  background-color: rgba(0,0,0,0.7);
  padding: 10px;
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
  height: 8vh;
  color: white;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 100%;
  transition: opacity 0.5s linear;
}

.buffering
{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.loadingside
{
  display: flex;
  background-color: rgb(42, 42, 42);
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.video {
  width: 100%;
  max-height: 85vh;
}

#video-container:fullscreen .video {
  max-height: 100vh;
}

.buttons {
  padding: 10px;
}

.subtitle {
  display: inline;
  position: absolute;
  top: 10%;
  opacity: 0.65;
}

.buttons button {
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
  opacity: 0.65;
}

.buttons button:hover {
  opacity: 1;
}

.buttons button.play:before {
  content: url(play-button.svg); 
}

.buttons button.pause:before {
  content: url(pause.svg);
}

.buttons button.rewind:before {
  content: url(rewind.svg);
}

button.like {
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
  opacity: 0.65;
}

button.like:before {
  content: url(like.svg);
}

button.like:hover {
  opacity: 1;
}

.buttons button.fullscreen:before {
  content: url(full-screen.png);
  position: absolute;
  right: 2%;
  top: 10%;
}

.c-video {
  width: 100%;
  max-width: 1080px;
  position: relative;
  overflow: hidden;
}

.c-video:hover .controls {
  transform: translateY(0);
}

.controls {
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  flex-wrap: wrap;
  background-color: rgba(0,0,0,0.7);
  transform: translateY(100%) translateY(-5px);
  transition: all .2s;
}

.timer-bar {
  height: 10px;
  bottom: 100%;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: all .2s;
}

.timer-fill {
  height: 10px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.801);
}

.black-header {
  width: 100%;
  background-color: black;
  height: 50px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.logo {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
}

.log-in {
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
}

.content-body {
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.search-bar {
  min-width: 400px;
  width: 800px;
  height: 30px;
  font-size: large;
  margin-bottom: 10px;
}

#video-button {
  display: flex;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */ /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5px auto; /* 15% from the top and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.logincontainer {
  padding: 16px;
  text-align: center;
  display: block;
  position: relative;
}

.usermenucontainer {
  padding: 10px;
  background-color: white;
  left: 87%;
  right: auto;
  width: auto;
  z-index: 2;
  position: absolute;
  box-shadow: 1px 1px 10px 2px rgb(77, 77, 77);
  display: none;
}

.notification {
  width: 30%;
  padding: 2px;
  margin: auto;
  box-shadow: 1px 1px 10px 2px rgb(173, 173, 173);
  border-radius: 5px 5px 5px 5px;
  vertical-align: middle;
}

.error {
  background-color: red;
}

.info {
  background-color: lightgreen;
}